@using System.Security
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Shopping</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />   
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-theme navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Online Shopping", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Suppliers", "Suppliers", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (Session["User"] != null)
                    {
                        <li>@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
                        <li>@Html.ActionLink("LogOut", "LogOut", "Account")</li>                       
                    }
                    else
                    {
                        <li>@Html.ActionLink("Registration", "Registration", "Account")</li>
                        <li>@Html.ActionLink("LogIn", "LogIn", "Account")</li>
                    }
                </ul>                   
            </div>
        </div>
    </div>
    <div class="container body-content">
        <a class="basket">
            <span>Your Basket: </span> @ViewBag.CartUnits
            <table>
                @foreach (var c in ViewBag.Cart)
                {
                    <tr><td>@c.Quantity x @String.Format("{0:c}", c.UnitPrice)</td><td>@c.PName</td></tr>
                }
                <tr>
                    <td>Total: @String.Format("{0:c}", ViewBag.CartTotalPrice)</td>
                    <td>@Html.ActionLink("Check Out", "Index", "Checkout")</td>
                </tr>
            </table>
        </a>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Online Shopping</p>
        </footer>
    </div>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        @RenderSection("Scripts",false)
</body>
</html>
